{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}
    {#<div class="col-xs-12 col-sm-12 col-md-12">#}

        <div class="well">
            <span style="font-size: 25px;">{{ post.title }}</span> <hr>
            {{ post.contents|raw }}
        </div>

    {#</div>#}


{% endblock %}