{% extends '@ZimaBlogweb/base.html.twig' %}

{% block body %}

    {% for content in rows %}
        <div class="col-xs-12 col-sm-7 col-md-9">

            <div class="well">
                <center><p style="font-size: 25px;">{{ content.title }}</p></center>
                <p>{{ content.createdAt|date('Y-m-d H:i') }}</p> <hr>
                <p><b>{{ content.contents|slice(0, 570) ~ '...' }}</b></p>
                <a href="{{ path('blog_content', {"id": content.id}) }}">More…</a>
            </div>

        </div>
    {% else %}
        <div class="col-xs-12 col-sm-7 col-md-9">
            <div class="well">
                <center> <h3>You don't have any contents</h3> </center>
            </div>
        </div>
    {% endfor %}


{% endblock %}